<div class="page">
  <aside>
    
    <div class="user-name">
      <div class="info">
        <div class="photo">
          <ng-container *ngIf="user.image; else elseNoImageUserAuth">
            <img src="{{user.image.dir}}" alt="">
          </ng-container>
          <ng-template #elseNoImageUserAuth>
            <div class="no-image">
              <h5>{{noImage(user.name)}}</h5>
            </div>
          </ng-template>
          
        </div>
        <h3>{{user.name}}</h3>
      </div>

      <div class="options-user">
        <button (click)="selectOptionsUser($event)">
          <i class="fa-solid fa-bars"></i>
        </button> 
        <ul class="options hidden">
          <li (click)="newUser($event)">Nuevo Usuario</li>
          <li (click)="createGroup($event)">Crear grupo</li>
          <li (click)="closeOptions($event)" [routerLink]="['user/profile', user.id]">Editar Perfil</li>
          <li (click)="logout($event)">Cerrar sesion</li>
        </ul>
      </div>

    </div>
    
    <div class="search">
      <div class="icon-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" placeholder="Buscar...." (input)="changeInput($event)">
    </div>

    <div class="contacts">
      <ul>
        <li *ngFor="let interaction of convertInteractionToUserInteractions(interactions)">
          <ng-container *ngIf="!interaction.group; else elseUserGroup">
            <a (click)="idSelected = interaction.user!.id; groupSelected =''" [routerLink]="[ '/main/user', interaction.user!.id ]">
              <div class="contact" [ngClass]="{'active': interaction.user!.id === idSelected}">
                <div class="photo">
                  <ng-container *ngIf="interaction.user!.image; else elseNoImageUser">
                    <img [src]="interaction.user!.image.dir" alt="">
                  </ng-container>
                  <ng-template #elseNoImageUser>
                    <div class="no-image">
                      <h5>{{noImage(interaction.user!.name)}}</h5>
                    </div>
                  </ng-template>
                  
                </div>
                <h5>{{interaction.user!.name}}</h5>
              </div>
            </a>
          </ng-container>
          <ng-template #elseUserGroup>
            <a (click)="groupSelected = interaction.group!.id; idSelected = 0" [routerLink]="[ '/main/group/', interaction.group!.id ]">
              <div class="contact" [ngClass]="{'active': interaction.group!.id === groupSelected}">
                <div class="photo">
                  <ng-container *ngIf="interaction.group!.image; else elseNoImageGroup">
                    
                  </ng-container>
                  <ng-template #elseNoImageGroup>
                    <div class="no-image">
                      <h5>{{noImage(interaction.group!.title)}}</h5>
                    </div>
                  </ng-template>
                  
                </div>
                <h5>{{interaction.group!.title}}</h5>
              </div>
            </a>
          </ng-template>
          
        </li>

      </ul>
    </div>


  </aside>
  
  <div class="content">
    <router-outlet></router-outlet>
    <!-- Button trigger modal -->
  </div>

</div>


<div class="modal-component hidden" #refModalCreateGroup (click)="clickCloseModal($event)">
  
  <div class="modal-content">
    <app-modal-new-group [refModal]="refModalCreateGroup" [usersInteractions]="convertInteractionToUserInteractions(interactions)"></app-modal-new-group>
  </div>

  
</div>


