$color1: #222E35;
$color2: #202C33;
$color3: #111B21;
$color-border: #222D34;

.login-page{
  padding: 25px;
  color: white;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .form-group{
    .form-control{
      display: flex;
      align-items: center;
      background-color: $color1;
      border: none;

      i{
        color: white;
        padding-left: 10px;
      }
    }
  }

  button{
    margin-top: 12px;

    i{
      padding-left: 2px;
    }
  }

}
