<ng-container *ngIf="!interaction; else elseLoading">
  <h1>Loading</h1>
</ng-container>
<ng-template #elseLoading>
  <app-user-profile [interactionInput]="interaction"></app-user-profile>

  <div class="chat">

    <div class="messages">


      <ng-container *ngFor="let chat of chats">

        
        <ng-container *ngIf="chat.user_from.id === user.id; else elseFrom">
          <div class="message from">
            <p>{{chat.message}}</p>
          </div>
        </ng-container>

        <ng-template #elseFrom>
          <div class="message to">
            <p>{{chat.message}}</p>
          </div>
        </ng-template>

      </ng-container>

    </div>

    <form autocomplete="off" [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <div class="input-chat">
        
        <ng-container *ngIf="isBlocked()">
          <small class="text-center">Bloqueaste a este usuario</small>
        </ng-container>

        <ng-container *ngIf="youWereBlocked()">
          <small class="text-center">Este usuario te ha bloqueado</small>
        </ng-container>



        <ng-container *ngIf="isActive()"> 

          <!-- TODO: Codigo aqui -->
          <div class="uploadImageData" [ngClass]="{'hidden': !imgTemp}">
            <img [src]="imgTemp" alt="">
            <button (click)="clearImage()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>

          <input type="text" formControlName="message">
          <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
          <button type="button"><i class="fa-solid fa-image" (click)="selectImage()"></i></button>
          <input type="file" accept="image/png, image/jpeg, image/jpg" hidden #inputFile (change)="changeImage($event)">
        </ng-container>
        

        
        
      </div>
    </form>
    

  </div>
</ng-template>
