 <form (submit)="createGroup()" [formGroup]="groupForm">
  <div class="modal-title">
    <h1>Nuevo grupo</h1>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">Ingrese el nombre del grupo</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="">Ingrese alguna descripcion</label>
      <input class="form-control" style="resize: none;" formControlName="description"/>
    </div>
    <div class="modal-users-list">
      <label for="">Seleccione al menos dos usuarios</label>
      <div class="modal-users">
        <ul>
          <ng-container *ngFor="let userInteracion of usersInteracions">
            <ng-container *ngIf="userInteracion.user">
              <li (click)="clickUser(userInteracion.user)" [ngClass]="{'active': existUser(userInteracion.user)}">
                {{userInteracion.user.name}}
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-buttons">
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Crear Grupo</button>
  </div>

</form>
