<div class="profile-detail">

  <div class="image">
    <ng-container *ngIf="isGroup(); else elseGroupImage">

      <ng-container *ngIf="interaction.group_from.image; else elseGroupImage">
        <img [src]="interaction.group_from.image.dir" alt="">
      </ng-container>
      <ng-template #elseGroupImage>
        <div class="no-image">
          <h1>{{noImage(interaction.group_from.title)}}</h1>
        </div>
      </ng-template>
      

    </ng-container>
    <ng-template #elseGroupImage>

      <ng-container *ngIf="existUserImage(); else elseImageUser">
        
        <img [src]="getImageUser()" alt="">

      </ng-container>
      <ng-template #elseImageUser>
        
        <div class="no-image">
          <h1>{{noImageUser()}}</h1>
        </div>

      </ng-template>
      
      
      
      
    </ng-template>
    
  </div>
  <div class="profile-name">
    <ng-container *ngIf="isGroup(); else elseGroup">
      <h1>{{interaction.group_from.title}}</h1>
      <p>Estado</p>
    </ng-container>
    <ng-template #elseGroup>
      <h1>{{interaction.user_from.id === user.id ? interaction.user_to.name : interaction.user_from.name}}</h1>
      <p>{{interaction.user_from.id === user.id ? interaction.user_to.status : interaction.user_from.status}}</p>
    </ng-template>
    
  </div>
  <div class="options">
    <button type="button" (click)="buttonOptionsInteractionUser($event)">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="select-options hidden">
      
      <ng-container *ngIf="interaction.group_from; else elseGroupUser">
        <li (click)="disguise($event)" [routerLink]="['/main/participants', interaction.group_from.id]">Ver participantes</li>
        <li (click)="disguise($event)" [routerLink]="['/main/group/detail', interaction.group_from.id]">Descripcion del grupo</li>
      </ng-container>

      <ng-template #elseGroupUser>
        <li (click)="blockUser($event)" [hidden]="isBloqued()">Bloquear</li>
        <li (click)="unBlockUser($event)" [hidden]="!isBloqued()">Desbloquear</li>
      </ng-template>
      
      
      <li>Opcion 3</li>
    </ul>
  </div>
</div>
