/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input{
  background-color: #ffffff00;
  border-style: none;
  outline: none;
  color: white;
}

input:hover{
  outline: none;
}

input:focus{
  outline: none;
}

input{
  width: 100%;
}


.hidden{
  visibility: hidden;
}


.modal-component{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .modal-content{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    color: #545454;
    
    .modal-title{
      text-align: center;
      padding-inline: 15px;
      padding-block: 8px;
    }
    
    .modal-body{
      padding-inline: 15px;
      padding-block: 8px;
    }
    
    .modal-buttons{
      border-radius: 5px;
      padding-inline: 15px;
      padding-block: 8px;
      background-color: #F5F4F7;
      display: flex;
      gap: 3px;
      justify-content: center;
    }
  }
}

/* Tooltip container */
.tooltipp {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipp .tooltiptext {
  font-size: 12px;
  top: -35px;
  right: 12px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px 6px 0px 6px;
  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipp:hover .tooltiptext {
  visibility: visible;
}

textarea:focus, input:focus{
  outline: none;
}

.no-image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20292e;
  color: rgba(255, 255, 255, 0.459);
  h1, h2, h3, h4, h5{
    margin-top: 5px;
  }
}

.image-temp{
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 100%;
  }
}

