ul{

  margin-block: 12px;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;

  li{
    

    .new-user{
      user-select: none;
      cursor: pointer;
      display: flex;
      gap: 12px;
      align-items: center;
      .icon-new-user{
        width: 60px;
        height: 60px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p{
        padding-top: 12px;
      }
    }

    .profile{

      display: flex;
      justify-content: space-between;
      margin-inline-end: 12px;

      .detail-profile{

        display: flex;
        gap: 12px;
        align-items: center;

        .image{
          width: 60px;
          height: 60px;
          border: 1px solid black;
          border-radius: 50%;
          background-color: white;
        }
  
        .detail-user{
          p{
            margin: 0px;
            padding: 0px;
          }
          small{
            color: #ffffffC0;
            font-size: 12px;
            margin: 0px;
            padding: 0px;
          }
        }
      }

      .yourselft{
        display: flex;
        align-items: center;
        p{
          font-size: 15px;
        }
      }

      .dropdown{
        display: flex;
        gap: 12px;
        align-items: center;
      }



    }

  }

}


