<ng-container *ngIf="!interaction; else elseLoading">
  <h1>Loading</h1>  
</ng-container>
<ng-template #elseLoading>
  
  <app-user-profile [interactionInput]="interaction"></app-user-profile>

  <ul>
    <ng-container *ngFor="let interaction of interactions">
      <li>
        <div class="profile">
          <div class="detail-profile">

            <div class="image">
  
            </div>
            <div class="detail-user">
              <p>{{interaction.user_to.name}} <small class="text-success" *ngIf="isHostOrModeratorInteraction(interaction)"> ( {{interaction.role}} ) </small></p>
              <small>estado</small>
            </div>

          </div>

          <ng-container *ngIf="user.id != interaction.user_to.id && !isNone() && !isHostInteraction(interaction) && !moderatorAndModerator(interaction)">
            <div class="dropdown">
              <button class="btn btn-danger tooltipp">
                <span class="tooltiptext">Sacar del grupo</span>
                <i class="fa-solid fa-user-xmark"></i>
              </button>

              <ng-container *ngIf="isHost()">

                <button class="btn btn-success tooltipp" (click)="newModerator(interaction)" *ngIf="!isModeratorInteraction(interaction)">
                  <span class="tooltiptext">Hacer moderador</span>              
                  <i class="fa-solid fa-user-shield"></i>
                </button>
                <button class="btn btn-danger tooltipp" (click)="clearRole(interaction)" *ngIf="isModeratorInteraction(interaction)">
                  <span class="tooltiptext">Quitar moderador</span>
                  <i class="fa-solid fa-user-shield"></i>
                </button>

              </ng-container>
              

            </div>
          </ng-container>

          <ng-container *ngIf="isYourself(interaction)">
            <div class="yourselft">
              <p class="text-primary">
                Eres tu</p>
            </div>
          </ng-container>
          
          
        </div>
      </li>
    </ng-container>
  </ul>



</ng-template>

